@import "tailwindcss";


/* Logo position */
.header {
    position: fixed;
}


/* Bottom nav bar */
.nav-btn {
    background: none;
    border: none;
    font-size: 1.5rem;
}

/* Fullscreen menu */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    height: 100%;
    padding: 2rem;
    z-index: 999;
    transition: transform 0.3s ease;
}

.soleil {
    font-family: "soleil", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.menu.hidden {
    display: none; }

.fade-in-right {
    opacity: 0;
    transform: translateX(20px);
    animation: fade-in-right 0.5s ease-out forwards;
}

.fade-in-left {
    opacity: 0;
    transform: translateX(-20px);
    animation: fade-in-right 0.5s ease-out forwards;
}
.fade-in-std {
    opacity: 0.8;
    animation: fade-in-right 1s ease-out forwards;
}
@keyframes fade-in-right {
    to {
        opacity: 1;
        transform: translateX(0);
    }     }


.fade-in-sequence>* {
    opacity: 0;
    transform: translateY(10px);
    animation: fade-in-up 0.5s ease-out forwards;
}

.fade-in-sequence>*:nth-child(1) {
    animation-delay: 0.1s;
}

.fade-in-sequence>*:nth-child(2) {
    animation-delay: 0.25s;
}

.fade-in-sequence>*:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes fade-in-up {
    to {
        opacity: 1;
        transform: translateY(0);
    }     
}


body {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    overflow: auto;
    /* Ensures scrolling is allowed */
}

body::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */ }

.text-outline {
    color: transparent;
    opacity: 0.5;
    -webkit-text-stroke: 1px rgb(137, 137, 137);     }

.text-outline-sub {
    color: transparent;
    opacity: 0.7;
    -webkit-text-stroke: 0.5px rgb(137, 137, 137);   }


@keyframes fade-zoom-in {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.035);
    }
}

@keyframes fade-zoom-in-to-size {
    from {
        transform: scale(1.035);
    }

    to {
        transform: scale(1);
    }
}

.fade-zoom-in {
    animation: fade-zoom-in 0.2s ease-out forwards;
    transform-origin: center;     
}

.fade-zoom-in-to-size {
    animation: fade-zoom-in-to-size 0.2s ease-out forwards;
    transform-origin: center;
}

    