---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Container from "../../components/ContainerDefault.astro";
import { getCollection, type CollectionEntry } from "astro:content";

// 1. Define getStaticPaths to generate routes for each project
export async function getStaticPaths() {
  const shows = await getCollection("shows");
  return shows.map((show) => ({
    params: { slug: show.slug },
    props: { show },
  }));
}

// 2. Access the show entry passed as a prop
const { show } = Astro.props;

// 3. Render the content of the show entry
const { Content, headings } = await show.render();
---

<BaseLayout>
  <article class="">
    <div class="relative w-full h-[78vh] overflow-hidden">
      <img
        src={`/images/${show.data.image}`}
        alt={show.data.title}
        class="w-full h-full object-cover fade-zoom-in"
      />
      <div class="absolute bottom-8 left-0 w-full text-white">
        <Container>
          <h1 class="text-6xl lg:text-7xl soleil uppercase font-bold">{show.data.title}</h1>
        </Container>
      </div>
    </div>
    <Container>
      <!-- Rendered Markdown content -->
      <p class="text-2xl lg:text-4xl">{show.data.year}</p>
    </Container>
  </article>

  <!-- Inline module script to handle logo inversion logic based on Markdwon file -->
  {
    show.data.logoInvert && (
      <script type="module" src="/scripts/logoInvertProjects.js" is:inline />
    )
  }
</BaseLayout>
